node_modules

/server/**/*
!/server/server.js
!/server/app.yaml
!/server/package.json
!/server/.gcloudignore
!/server/Dockerfile
!/server/.npmrc

!/server/script/
!/server/script/*

!/server/public
!/server/public/esbuild.wasm
!/server/public/playground.html
!/server/public/react-dom.d.ts
!/server/public/react.d.ts
!/server/public/styled-components.d.ts
!/server/public/playgroundcsharp.html
!/server/public/_framework
!/server/public/_framework/*
!/server/public/_framework/*/**

/dotnetPlayground/bin
/dotnetPlayground/obj